body {
    background-color: #567444;
    font-family: Bad Script, cursive;
    color: rgb(255, 255, 255);
    text-align:center;
    margin: 10px;
}
body img {
        display:block;
        margin-left:auto;
        margin-right: auto;
        width:max-width;
        border: 2px solid rgb(78, 78, 78);
        height: auto;
    }
body h2 {
        text-align: center;
    }
nav {
        border: 2px solid rgb(78,78,78);
        justify-content: space-between;
        display:flex;
        background: white;
}
nav a {
            color: #567444;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }
body a{
      color:#B7EDF6;
      font-style: italic;
      text-decoration: underline;
        }
body a .section-container {
        display:flex;
        justify-content:space-between;
        text-align: left;
}
body .section-container .section {
            border:2px solid rgb(78, 78, 78);
            padding:10px;
            margin:10px;
            width:500px;
            background-color: rgb(255, 255, 255);
            color:#567444;
}
body .section-container .section p{
                color: #567444;
            }
body .section-container .section img {
                padding: 0px;
            }