body {
    background-color: #567444;
    font-family: Bad Script, cursive;
    color: rgb(255, 255, 255);
    text-align:center;
    img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    h2 {
        text-align: center;
    }
    a{
      color:#B7EDF6;
            }
    .section-container {
        display:flex;
        justify-content:space-between;
        .section {
            border:5px solid black;
            padding:10px;
            margin:10px;
            width:500px;
            background-color: rgb(255, 255, 255);
            color:#567444;
            p{
                color: #567444;
            }
            img {
                width: 100%;
                height: 300px;
            }
        }
    }
}
/* The code below centers all images on the page and gives them a width of 400px. */
/* The code below centers the text of all h2's on the page. */
/* The code below aligns all the sections horizontally on the bottom. */
/* The code below a solid black border to section and puts space between them (the margin). */